# Dependencies
/node_modules

# User-specific settings
/settings.json

# Logs
*.log
npm-debug.log*
yarn-error.log
yarn-debug.log
lerna-debug.log

# OS-specific
.DS_Store
Thumbs.db

# Sound files (権利関係のため除外)
/sounds/*
!/sounds/.gitkeep

# 内部資料
要件定義書.md